.delete-confirm-modal__content {
  background-color: #fff;
  max-width: 670px;
  max-height: 280px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 130px;
}

.delete-confirm-modal__heading {
  margin: 0;
  font-size: 20px;
}

.delete-confirm-modal__text {
  margin: 0 0 40px 0;
}

.delete-confirm-modal__button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.4s ease;
  padding: 0;
  width: fit-content;
}

.delete-confirm-modal__button:hover {
  opacity: 0.6;
}

.delete-confirm-modal__button_type_delete {
  color: #ff4d00;
  margin-bottom: 24px;
}

.delete-confirm-modal__button_type_cancel {
  color: #000;
}
