.card {
  max-width: 325px;
  min-height: 325px;
  border-radius: 50%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card__header {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 16px;
}

.card__title {
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  margin: 0;
}

.card__like-button {
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: opacity 0.4s ease;
  cursor: pointer;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_inactive {
  background-image: url(../../images/default-like-button.svg);
}

.card__like-button_active {
  background-image: url(../../images/liked-like-button.svg);
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
