.preview-card__image {
  width: 100%;
  max-height: 500px;
  object-fit: fill;
  border-radius: 20px 20px 0px 0px;
}

.preview-card__content {
  margin: 15px 32px 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preview-card__title {
  margin: 0;
  font-size: 20px;
}

.preview-card__weather {
  margin: 12px 0 0;
}

.preview-card__delete-button {
  border: none;
  color: #ff4d00;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.4s ease;
  padding: 0;
}

.preview-card__delete-button:hover {
  opacity: 0.6;
}

.preview-card__close-button {
  position: absolute;
  background: transparent;
  background-image: url(../../images/white-close-icon.svg);
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.4s ease;
  padding: 0;
  cursor: pointer;
}

.preview-card__close-button:hover {
  opacity: 0.6;
}
